* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    direction: rtl;
    text-align: right;
    background-color:white;
    background-image: url("images/header_bg.png");
    background-repeat: repeat-x;
    background-position-x: top;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin:auto;
    width:900px;
    height:800px;
    border: 2px solid green;

}

header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 105px;
    border: 2px solid red;
}

.logo {
    position: relative;
    top:20px;
    right:-10px;
}

nav {
    width: 757px;
}

nav>ul {
    display:flex;
    padding:0;
    justify-content: space-between;
    list-style-type: none;
}

nav>ul>li {
    border: 2PX solid black;
    padding:0 18px;
    margin:15px 0;
}

nav>ul>li>a {
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration-line: none;
    }

    .dropdown {
        position: relative;
        list-style-type: none;
    }
    
    .dropdown-contect{
        position: absolute;
        right:20px;
        TOP:33px;
        display: block;
        background-image: url(images/menu_dropdown_bg.png);
        background-repeat:repeat-x;
        background-color: #909090;
    }

    .dropdown-contect>a {
    display: none;
    font-size: 15px;
    font-weight: 700;
    color:white;
    text-decoration-line: none;
    padding:5px;
    line-height: 1;
    }

    .dropdown:hover>.dropdown-contect>a{
        display:block;
    }

.main_container {
    height:619px;
    margin-top:30px;
    border: 2px solid blue;
}

footer {
    position: fixed;
    bottom:0;
    height:38px;
    width:100%;
    background-image: url("images/footer_bg.png");
    background-repeat: repeat-x;
    background-position-x: top;
    border: 2px solid yellow;
}

.top_section {
    display: flex;
    height:355px;
    width: 100%;
    margin-bottom:18px;
    border: 2px solid darkcyan;
}

.bottom_section {
    display: flex;
    height:216px;
    width: 100%;
    border: 2px solid rgb(14, 114, 114);
}

.top_section>div {
  height:355px;
  width:293px ;
  border: 2px solid rgb(202, 48, 176);
}

.top_section>div:nth-child(2), .bottom_section>div:nth-child(2) {
    margin:0 10px;
}

  .bottom_section>div {
    height:216px;
    width:293px;
    border: 2px solid rgb(202, 48, 176);
  }

  .border_rad {
      border-radius: 0 0 25px;
  }

  .border_gra {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-color: rgb(238, 238, 238);
}

.border_gra_spe {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-color: rgb(238, 238, 238);
}


h3 {
    margin:15px;
    text-align: center;
    font-size:14px;
    color:#575757;
}  

.commercial {
    padding:0 15.1px;
}

.map {
    position: absolute;
    left:22px;
    bottom:2px;
}

.readmore {
display: inline-block;
font-size: 13px;
color:#72716d;
margin-top:20px;
margin-left:2px;
margin-right:180px;
text-decoration-line: underline;
}

.readmore:hover {
    color:blue;
}

.readmore_map {
    display: inline-block;
    font-size: 13px;
    color:#72716d;
    margin-right:20px;
    line-height: 1;
    margin-left:10px;
    text-decoration-line: underline;
    }

    .readmore_map.north {
        margin-top:12px;
        margin-left:15px;
    }

    .readmore_map.center {
        margin-left:10px;
    }
    
    .readmore_map:hover {
        color:blue;
    }
